a:link 
{
	color:#4169E1;
	text-decoration:none;
	font-style:bold;
	font-family:Verdana, serif;
	font-size:0.8em;
}

a:visited 
{
	color:#4169E1;
	text-decoration:none;
	font-style:bold;
	font-family:Verdana, serif;
	font-size:0.8em;
}



.panel
{
border: 1px solid lightSteelBlue;
}

a:hover 
{
	color:#7479F3;
	text-decoration:none;
	font-style:bold;
	font-family:Verdana, serif;
	font-size:0.8em;
}

a:active 
{
	color:#4169E1;
	text-decoration:none;
	font-style:bold;
	font-family:Verdana, serif;
	font-size:0.8em;
}

#php5
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1.2em;
}$

#register
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#6699CC;
}

td.downbar
{
	text-align:center;
}

li
{
	display:inline;
}
img
{
max-height:100px;
}
.banner
{
max-height:50px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
margin:0px;
border:0px;
}

.ProgressBar,
			.ProgressBar .Step {
				height: 24px; line-height: 24px;
			}
			.ProgressBar .Step {
				text-align: center;
				position: relative;
				float: left;
				font-weight: bold;
			}
			.ProgressBar .Arrow {
				position: absolute;
				height: 24px;
				width: 18px;
				top: 0;
				right: -17px;
				overflow: hidden;
			}
			.ProgressBar .Arrow-Head,
			.ProgressBar .Arrow-Head DIV {
				border-width: 15px;
				border-style: solid;
				width: 0;
				height: 0;
				position: absolute;
			}
			.ProgressBar .Arrow-Head {
				border-color: transparent transparent transparent #fff;
				left: 2px;
				top: 50%;
				margin-top: -15px;
			}
			.ProgressBar .Arrow-Head DIV {
				left: -18px;
				top: -15px;
			}
.product_id
{
text-align:center;
}
.amount
{
text-align:center;
}
.price
{
text-align:right;
}